



#app {
    padding-top: 35px;
}

.topArea {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 35px;
    padding: 0 10px;
    background: #ff495f;
    line-height: 35px;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    z-index: 88;
}
/*.location { margin: 0 10px; }*/
/*.icon-location { margin-right: 3px; font-size: 18px; }*/
.search {
    width: 100%;
    height: 25px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    line-height: 25px;
    text-align: center;
}
.icon-search {
    font-size: 14px;
    margin-right: 3px;
}
.category {
    margin-left: 10px;
}
.icon-category:before {
    font-size: 20px;
}

.banner {
    position: relative;
}
.swiper-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15px;
    justify-content: center;
}
.swiper-dot {
    width: 5%;
    height: 5px;
    margin: 0 2px;
    border-radius: 3px;
    background: #fff;
    opacity: 1;
}
.swiper-dot.on {
    background: #fda522;
}